@media (max-width: 768px){
	.logo{
		display: none;
	}
	.icon{
		font-size: 1em;
	}
	.icon:hover{
		padding-left: 15px;
	}
	.middle-side-box{
		padding: 0;
	}
	.a{
		display: none;
	}
	.h{
		display: block;
		margin-right: 30px;
	}
	.main{
		display: block;
	}
	.left-box{
		height: 100%;
		width: 100%;
	}
	.right-box{
		display: none;
	}
	h2{
		font-size: 2.5em;
		line-height: 1;
	}
	h3{
		margin-top: -20px;
	}
	.divider{
		margin-top: 10px;
	}
	h4{
		font-size: 2em;
		line-height: 1;
		margin-left: 30px;
		margin-top: 30px;
	}
	.description{
		margin-left: 30px;
		font-size: .8em;
		width: 70%;
	}
	.button{
		font-size: .8em;
		margin-left: 30px;
	}
}